/* RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* TYPOGRAPHY */

.brand {
    font-size: 12px;
}

.item {
    font-size: 16px;
}

.discounted-price {
    color: red;
    font-weight: 700;
}

.full-price {
    text-decoration: line-through;
}

footer {
    color: white;
}

/* HOVER EFFECTS */


.heart:hover {
    color: red;
}

.photo-container {
    position: relative;
    width: calc(1370px / 3 - 20px);
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 1s linear, z-index 0s 0.3s; 
    z-index: -1;
}

.photo-container:hover .overlay {
    opacity: 1;
    z-index: 1;
}




/* HEADER */

header {
    position: fixed;
    z-index: 99;
    width: 100%;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff6900;
    color: white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.39);
}

.header-container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff6900;
    color: white;
    width: 1370px;
}

header img {
    max-width: 100%;
}

.header-logo {
    width: 10%;
    left: 50%; 
    transform: translateX(-50%);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    font-size: 20px;
    margin-right: 10px;
    font-weight: 700;
    padding-right: 5px;
    padding-top: 30px;
    padding-bottom: 30px;
}

header i {
    font-size: 20px;
    padding: 10px;
}



/* MAIN */

main {
    display: flex;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-top: 150px;
}

.container {
    display: flex;
    gap: 20px;
    width: 1370px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.photo-container {
    width: calc((100% - 40px) / 3);
    position: relative;
}

.photo-container img {
    max-width: 100%;
    display: block;
    
}

.info-tag {
    padding-top: 3px;
    position: relative;
    z-index: 2;
    background-color: white;
}

.heart {
    position: absolute;
    font-size: 30px;
    bottom: 620px;
    right: 0;
    padding: 10px 15px;
    background-color: white;
    
}

.label {
    display: flex;
    position: absolute;
    bottom: 100px;
    gap: 5px;
}

.label .discount {
    padding: 5px 10px;
    background-color: red;
    color: white;
    font-weight: 700;
}

.label .tag {
    padding: 5px 10px;
    background-color: green;
    color: white;
    font-weight: 700;
}

/* FOOTER */

footer {
    background-color: #1a1a1a;
    display: flex;
    justify-content:center;
}


.footer-container {
    display: flex;
    padding: 30px 0;
    width: 1370px;
    justify-content: space-between;
}

.company {
    font-weight: 700;
}

.footer-info ul {
    list-style: none;
    padding-top: 10px;
    margin: 0;
    display: flex;
}

.footer-info li {
    font-size: 12px;
    margin-right: 10px;
    padding-right: 5px;
}

.footer-social i {
    margin-top: 10px;
    margin-right: 3px;
    font-size: 20px;
}

.footer-social div {
    font-size: 14px;
}